option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lunch.settings"
    "PYTHONPATH": "/opt/python/current/app/lunch:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: lunch/wsgi.py
    NumProcesses: 1
    NumThreads: 15
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
